<p id="notice"><%= notice %></p>

<p>
  <strong>Email :</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Mot de passe crypté :</strong>
  <%= @user.crypted_password %>
</p>

<%= link_to 'Éditer le profil', edit_user_path(@user), :class => "btn btn-outline-success" %>
<%= link_to 'Retour', users_path, :class => "btn btn-outline-success" %>
