<div class="container concert_content">
    <div class="row flex-items-xs-middle">
        <div class="col-xs">
            <div class="media">
                <div class="media-left media-middle">
                    <%= link_to image_tag("concert.jpg", :alt => "Generic placeholder image", :class => "media-object", :height => "100px", 
                        :width => "100px"), "#" %>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Concert1</h4>
                    <p>30/300 places disponibles</p>
                    <%= link_to "Voir plus", "#", :class => "nav-link" %>
                </div>
            </div>
        </div>
        <div class="col-xs">
            <div class="media">
                <div class="media-left media-middle">
                    <%= link_to image_tag("concert.jpg", :alt => "Generic placeholder image", :class => "media-object", :height => "100px", 
                        :width => "100px"), "#" %>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Concert2</h4>
                    <p>75/300 places disponibles</p>
                    <%= link_to "Voir plus", "#", :class => "nav-link" %>
                </div>
            </div>
        </div>
        <div class="col-xs"></div>
    </div>
</div>
<div class="container concert_content">
    <div class="row flex-items-xs-middle">
        <div class="col-xs">
            <div class="media">
                <div class="media-left media-middle">
                    <%= link_to image_tag("concert.jpg", :alt => "Generic placeholder image", :class => "media-object", :height => "100px", 
                        :width => "100px"), "#" %>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Concert3</h4>
                    <p>2/300 places disponibles</p>
                    <%= link_to "Voir plus", "#", :class => "nav-link" %>
                </div>
            </div>
        </div>
        <div class="col-xs">
            <div class="media">
                <div class="media-left media-middle">
                    <%= link_to image_tag("concert.jpg", :alt => "Generic placeholder image", :class => "media-object", :height => "100px", 
                        :width => "100px"), "#" %>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Concert4</h4>
                    <p>140/300 places disponibles</p>
                    <%= link_to "Voir plus", "#", :class => "nav-link" %>
                </div>
            </div>
        </div>
        <div class="col-xs"></div>
    </div>
</div>
<!-- jQuery first, then Tether, then Bootstrap JS.
    -->
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', :crossorigin => "anonymous" %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js', :crossorigin => "anonymous" %>
<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js', :crossorigin => "anonymous" %>