<%= form_for @concert do |f| %>
	<% if @concert.errors.any? %>
		<div>
			<h2>
				<%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:
			</h2>
			<ul>
				<% @concert.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<%end%>

	<p>
		<%= f.label :name, "Nom" %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :address, "Adresse" %><br>
		<%= f.text_area :address %>
	</p>

	<p>
		<%= f.label :tickets_available, "Tickets disponibles" %><br>
		<%= f.number_field :tickets_available, :step => 0.5 %>
	</p>

	<p>
		<%= f.submit %>
	</p>
	
<%end%>