<div class="row">
    <div class="col-md">
        <div class="media">
            <div class="media-left media-middle">
                <%= link_to image_tag("concert.jpg", :alt => "Generic placeholder image", :class => "media-object rounded", :height => "100px", 
                    :width => "100px"), "#" %>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><%= @concert.name %></h4>
                <p>Salle : <%= @concert.concert_hall %></p>
                <p><%= @concert.tickets_available %> places disponibles</p>
                <p><%= @concert.address %></p>
                <p>Prix (TTC) : <%= @concert.price %> €</p>
            </div>
        </div>
        <p>
            <strong>Description:</strong>
            <%= @concert.description %>
        </p>
            <%= link_to 'Retour', concerts_path, :class => "btn btn-outline-success" %>
            <% if logged_in? %>            
            
            <%= link_to "Réserver", new_concert_reservation_path(@concert), :class =>"btn btn-primary"%>
            <% end %>
    </div>
    <div class="col-md">
        <div class="iframe-container">
            <div id="map"></div>
        </div>
    </div>
</div>
<script>
    var address = "<%= @concert.address %>";
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQvNIyP2d-8QUabyIJEIHtf41iaNue_7c&callback=initMap"
async defer></script>


