<h2>Réservations pour <i><%= @concert.name %></i></h2>
<p>Prix unitaire : <%= @concert.price %> €<br>
Places disponibles : <%= @concert.tickets_available %></p>
<hr>
<% @reservations.each do |reservation| %>
	<p>
		Client : <%= reservation.user.email %> | <%= reservation.user.lastname.upcase %> <%= reservation.user.firstname %><br>
		Tickets reservés : <%= reservation.tickets_number %><br>
		Prix total : <%= reservation.tickets_number*@concert.price %> €<br>
	</p>
<%end%>