

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first
            -->
        <%= csrf_meta_tags %>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <meta content="ie=edge" http-equiv="x-ua-compatible"/>
        <!-- Bootstrap CSS
            -->
        <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" %>
        <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </head>
    <body>
        <nav class="navbar navbar-full navbar-light bg-faded">
            <div class="container">
                <%= link_to "Concertiz", home_index_path, :class => "navbar-brand" %>
                <form class="form-inline float-xs-right">
                    <input class="form-control" placeholder="Rechercher" type="text"/>
                    <%= link_to "Rechercher", "#", :type => "submit", :class => "btn btn-outline-success" %>
                </form>
                <ul class="nav navbar-nav float-xs-right a_connexion">
                    <li class="nav-item">
                        <div id="nav">
                            <% if current_user %>
                            <%= link_to "Éditer le profil", edit_user_path(current_user.id) %>
                            <%= link_to "Se déconnecter", :logout, method: :post %>
                            <% else %>
                            <%= link_to "S'enregistrer", new_user_path %> |
                            <%= link_to "Se connecter", :login %>
                            <% end %>
                        </div>
                        <div>
                            <p id="notice"><%= flash[:notice] %></p>
                            <p id="alert"><%= flash[:alert] %></p>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container content">
            <%= yield %>
        </div>
        <!-- jQuery first, then Tether, then Bootstrap JS.
            -->
        <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', :crossorigin => "anonymous" %>
        <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js', :crossorigin => "anonymous" %>
        <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js', :crossorigin => "anonymous" %>
    </body>
</html>

