<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first
            -->
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <meta content="ie=edge" http-equiv="x-ua-compatible"/>
        <!-- Bootstrap CSS
            -->
        <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" %>
        <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <nav class="navbar navbar-full navbar-light bg-faded">
            <div class="container">
                <%= link_to "Concertiz", home_index_path, :class => "navbar-brand" %>
                <form class="form-inline float-xs-right">
                    <input class="form-control" placeholder="Rechercher" type="text"/>
                    <%= link_to "Rechercher", "#", :type => "submit", :class => "btn btn-outline-success" %>
                </form>
                <ul class="nav navbar-nav float-xs-right a_connexion">
                    <li class="nav-item">
                        <%= link_to "Se connecter", "#", :class => "nav-link" %>
                    </li>
                </ul>
            </div>
        </nav>
        <%= yield %>
    </body>
</html>